<div class="profile-body">
    <h2>My Profile</h2>
    <img src="https://picsum.photos/100/100">
    <div class="username">
        <%=user.name%>
    </div>
    <a href="/profile/<%=user._id%>/edit">Edit</a>
    <div class="user-info">
        Location: <%=user.city%>
    </div>
    <div class="user-info">
        Company:<%=user.company%>
    </div>
    <div class="user-info">
        Email:<%=user.email%>
    </div>
</div>

<%- include(`../partials/nav`) %>