profile page
<br>
<a href="/profile/1/edit">Edit</a>
<br>
    <div>
        <%=user.name%>
    </div>
    <div>
        <%=user.city%>
    </div>
    <div>
        <%=user.company%>
    </div>
    <div>
        <%=user.email%>
    </div>
<%- include(`../partials/nav`) %>