<div class="board-body">
    <div class="board-nav">
        <h3>Channels</h3>
        <% boards.forEach(board => { %>
            <div class="single-board">
                <img src="https://picsum.photos/50/50">
                <a href="/boards/<%= board.id %>"><%= board.name %></a>
                <form method="POST" action="<%= `/boards/${board.id}` %>?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
                <a href="/boards/<%= board.id %>">Edit Board</a>
            </div>
        <% }) %>
        <a href="/boards/new"><div class="new-board">+</div></a> 
    </div>
    
    <div class="post-container">
        <h2>General</h2>
        <p>Recent Posts</p>
        <a href="/posts/new" class="create-post"><i class="fas fa-comment-dots"></i> Create a Post</a> 
        <!-- <i class="fas fa-filter"></i> -->
        <% posts.forEach(post => { %>
            <div class="single-post">
                <img src="https://picsum.photos/50/50">
                <div class="post-words">
                    <div><%= post.title %></div>
                    <div><%= post.content %></div>
                    <div class="button-row">
                        <form method="POST" action="<%= `/posts/${post.id}` %>?_method=DELETE">
                            <button type="submit">Delete</button>
                        </form>
                        <a href="/posts/<%= post.id %>">Edit Post</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include(`../partials/nav`) %>