<a href="/boards/new">New Board</a>
<br>
<a href="/posts/new">New Post</a>
<br>

<!-- This is the index of posts related to this board -->
<h2>ALL POSTS</h2>
<div>
    <% posts.forEach(post => { %>
        <div><%= post.title %></div>
        <div><%= post.content %></div>
        <form method="POST" action="<%= `/posts/${post.id}` %>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
        <a href="/posts/<%= post.id %>">Edit Post</a>
    <% }) %>
</div>


<!-- This is the index of boards visible from each board -->
<h2>ALL Boards</h2>
<div>
    <% boards.forEach(board => { %>
        <div>
            <a href="/boards/<%= board.id %>"><%= board.name %></a>
            <form method="POST" action="<%= `/boards/${board.id}` %>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
            <a href="/boards/<%= board.id %>">Edit Board</a>
        </div>
    <% }) %>
</div>

<%- include(`../partials/nav`) %>