<div class="new-post-title">
    <a href="/boards/"><i class="fas fa-arrow-left"></i></a>
    <h2>New Post</h2>
    <button type="submit">Post</button>
</div>
<form action="/posts" method="POST">
    <div class="new-post-container">
        <label>Title</label>
        <input type="text" name="title" value="<%= post.title %>">
        <label>Content</label>
        <div class="post-main-content">
            <input type="file" name="postImg" class="filepond">
            <textarea type="text" name="content" value="<%= post.content %>"></textarea>
        </div>
        <label>Board</label>
        <select name="messageBoard">
            <% boards.forEach(board => { %>
                <% if (board.id === post.board) { %>
                    <option selected label="<%= board.name %>" value="<%= board.id %>"></option>
                <% } else { %>
                    <option label="<%= board.name %>" value="<%= board.id %>"></option>
                <% } %>
            <% }) %>
        </select>
        <label>Publish Date</label>
        <input type="date" name="date_created" 
            value="<%= post.date_created == null ? '' : post.date_created.toISOString().split('T')[0] %>">
    </div>
</form>